<div id="teamsList">
    <h3>Select your team:</h3>
    <md-list data-ng-init="loadTeamsList()">
        <md-item data-ng-repeat="team in teamsList">
            <md-item-content>
                <div class="md-tile-left">
                    <md-icon md-svg-icon="soccerball" class="icon-large"></md-icon>
                </div>
                <div class="md-tile-content">
                    <h3>{{team.name}}</h3>
                    <p>{{team.name}}</p>
                </div>
                <div class="md-tile-right">
                    <md-button class="md-fab md-primary big-plus">+</md-button>
                </div>
            </md-item-content>
            <md-divider ng-if="!$last"></md-divider>
        </md-item>
    </md-list>
</div>